/* Estilos generales */
body {
    background-image: url("https://i.imgur.com/3nSk8QU.jpg");
    background-size: 100%;
    background-repeat: repeat;
    background-position: top left;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Nuevo estilo para el contenedor principal */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    font-weight: bold;
    color: #ff6d4c;
    padding: 5px;
    font-size: 70px;
    -webkit-text-stroke: 2px #000000;
    margin-bottom: 20px;
}
.calendar {
    background-color: #fc9d78;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    color: #ffff;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.header button {
    background-color: #625c5b;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.header button:hover {
    background-color: #9a9696;
}
.header h2 {
    font-weight: bold;
    font-size: 24px;
    color: white;
}
.days {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: white;
}
.day {
    width: 14%;
    text-align: center;
    font-weight: bold;
    color: #ffff;
}
.grid {
    display: flex;
    flex-wrap: wrap;
}
.grid div {
    width: 14%;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
}
.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 500px;
}
.buttons button {
    background-color: #625c5b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.buttons button:hover {
    background-color: #9a9696;
}
.grid div:hover {
    background-color: #fdcfbc;
}
.grid div.event {
    background-color: #411163;
    border-radius: 50%;
}
.actualday {
    background-color: #7e084b;
    border-radius: 50%;
}
.grid div.event:hover {
    background-color: #7f3daf;
}
.tareas-del-dia {
    color: white;
    margin-top: 20px;
    background: #fc9d78;
    padding: 15px;
    border-radius: 10px;
}

/* Cambios para alinear la lista y el párrafo a la izquierda */
.tareas-del-dia h3 {
    text-align: center;
    margin-top: 0;
}
.tareas-del-dia ul {
    list-style-type: disc;
    margin: 0;
    padding-left: 20px;
    text-align: left;
}
.tareas-del-dia p {
    text-align: left;
    margin: 0;
    padding-left: 20px;
}