/* Estilos para la interfaz de producción */
#formRegistrarProduccion input {
  margin: 5px 0;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

/* Estilo para el botón verde (Registrar) */
#formRegistrarProduccion button {
  margin-top: 10px;
  padding: 15px 30px;
  /* Más grande */
  background-color: #28a745;
  /* Verde */
  color: white;
  border: none;
  border-radius: 5px;
  float: left;
  cursor: pointer;
  width: auto;
}

/* Estilo para el botón naranja (Volver) */
.button.volver {
  margin-top: 10px;
  padding: 15px 30px;
  /* Mismo tamaño que el verde */
  background-color: #ff8c00;
  /* Naranja */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  /* Alineado a la derecha */
  width: auto;
  /* Ancho automático */
}

/* Limpiar el float para evitar desbordamientos */
.container::after {
  content: "";
  display: table;
  clear: both;
}

.menu-item {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

/* Estilo para el icono de la barra lateral */
.icono-sidebar {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.menu-item.doble-opcion {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
}

.menu-item.doble-opcion .ir-produccion-wrapper {
  display: flex;
  align-items: center;
}

.menu-item.doble-opcion .toggle-submenu {
  background: none;
  border: none;
  color: white;
  font-size: 25px; /* Tamaño del la flecha que espliegua el submenú*/
  cursor: pointer;
}

.menu-item.doble-opcion .ir-produccion {
  background-color: transparent;
  border: none;
  color: white;
  text-align: left;
  width: 100%;
  cursor: pointer;
}

/* Estilo para el menú desplegable producción */
.menu-item.doble-opcion .submenu {
  display: none;
  flex-direction: column;
  margin-left: 20px;
}

.menu-item.doble-opcion .submenu .button {
  color: white;
  margin: 3px 0;
  font-size: 14px;
}