<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Limpieza</title>
    <link rel="icon" href="https://i.imgur.com/WW384uk.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" href ="../CSS/gen.css">
</head>
<body>
    <!-- SLIDEBAR Y SUBMENUS -->
    <!-- Botón para abrir/cerrar la sidebar -->
    <button class="open-sidebar" onclick="toggleSidebar()">☰</button>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Imagen de fondo -->
        <div class="sidebar-background"></div>
        <!-- Contenido de la sidebar -->
        <div class="sidebar-content">
            <img src="https://i.imgur.com/WW384uk.png" alt="Gerencia" class="sidebar-logo">
            <!-- Almacén -->
            <div class="menu-item doble-opcion">
                <div class="ir-item-wrapper">
                    <button class="toggle-submenu" onclick="toggleSubmenu(this)">▸</button>
                    <img src="https://i.imgur.com/vp9A1f3.png" alt="almacen Icon" class="icono-sidebar">
                    <button class="button ir-item" 
                        onclick="window.location.href='almacen.html'">Almacén</button>
                </div>
                <div class="submenu">
                <button class="button slide-button-almacen" onclick="registrarEntradas()">Registrar Entradas</button>
                <button class="button slide-button-almacen" onclick="actualizarMateriaPrima()">Actualizar Materia Prima</button>
                <button class="button slide-button-almacen" onclick="registrarSalidas()">Registrar Salidas</button>
                <button class="button slide-button-almacen" onclick="actualizarProductos()">Actualizar Productos</button>
                <button class="button slide-button-almacen" onclick="verProductos()">Ver Productos</button>
                <button class="button slide-button-almacen" onclick="verMateriasPrimas()">Ver Materias Primas</button>
                <button class="button slide-button-admin" onclick="solicitarProductos()">Solicitar Productos</button>
                <button class="button slide-button-admin" onclick="solicitarMateriaPrima()">Solicitar Materia Prima</button>
                <button class="button slide-button-admin" onclick="enviarProductosaTienda()">Enviar Productos a Tienda</button>
                </div>
            </div>
            <!-- Reparto -->
            <div class="menu-item doble-opcion">
                <div class="ir-item-wrapper">
                    <button class="toggle-submenu" onclick="toggleSubmenu(this)">▸</button>
                    <img src="https://i.imgur.com/dZdUNal.png" alt="reparto Icon" class="icono-sidebar">
                    <button class="button ir-item"
                        onclick="window.location.href='reparto.html'">Reparto</button>
                </div>
                <div class="submenu">
                <button class="button slide-button-reparto" onclick="verCalendario()">Calendario</button>
                <button class="button slide-button-reparto" onclick="verPedidos()">Pedidos</button>
                <button class="button slide-button-reparto" onclick="actualizarEntrega()">Actualizar Entrega</button>
                <button class="button slide-button-reparto" onclick="confirmarEntrega()">Confirmar entrega</button>
                <button class="button slide-button-admin" onclick="agregarEntrega()">Agregar entrega</button>
                </div>
            </div>
            <!-- Usuario -->
            <div class="menu-item doble-opcion">
                <div class="ir-item-wrapper">
                    <button class="toggle-submenu" onclick="toggleSubmenu(this)">▸</button>
                    <img src="https://i.imgur.com/WLyck1q.png" alt="usuario Icon" class="icono-sidebar">
                    <button class="button ir-item" 
                        onclick="window.location.href='usuario.html'">Usuario</button>
                </div>
                <div class="submenu">
                <button class="button slide-button-usuario" onclick="verCatalogo()">Catálogo</button>
                <button class="button slide-button-usuario" onclick="realizarPedido()">Realizar Pedido</button>
                <button class="button slide-button-usuario" onclick="verSucursales()">Ver sucursales</button>
                <button class="button slide-button-usuario" onclick="confirmarEntrega()">Confirmar entrega</button>
                <button class="button slide-button-usuario" onclick="promocionesycupones()">Promociones y cupones</button>
                </div>
            </div>
            <!-- Producción -->
            <div class="menu-item doble-opcion">
                <div class="ir-item-wrapper">
                    <button class="toggle-submenu" onclick="toggleSubmenu(this)">▸</button>
                    <img src="https://i.imgur.com/3cO5Fks.png" alt="Producción Icon" class="icono-sidebar">
                    <button class="button ir-item"
                        onclick="window.location.href='produccion.html'">Producción</button>
                </div>
                <div class="submenu">
                <button class="button slide-button-produccion" onclick="solicitarMateriaPrima()">Solicitar Materia Prima</button>
                <button class="button slide-button-produccion" onclick="verMateriaPrima()">Ver Materia Prima</button>
                <button class="button slide-button-produccion" onclick="Registrarproduccion()">Registrar producción</button>
                <button class="button slide-button-produccion" onclick="ProduccionDeHoy()">Producción de hoy</button>
                <!--<button class="button slide-button-produccion" onclick="window.location.href='registrar-produccion.html'">Registrar producción</button>-->
                <!--<button class="button slide-button-produccion" onclick="window.location.href='produccion-hoy.html'">Producción de hoy</button>-->
                </div>
            </div>
            <!-- Ventas -->
            <div class="menu-item doble-opcion">
                <div class="ir-item-wrapper">
                    <button class="toggle-submenu" onclick="toggleSubmenu(this)">▸</button>
                    <img src="https://i.imgur.com/aUIJoQt.png" alt="ventas Icon" class="icono-sidebar">
                    <button class="button ir-item"
                        onclick="window.location.href='ventas.html'">Ventas</button>
                </div>
                <div class="submenu">
                <button class="button slide-button-ventas" onclick="RegistrarCliente()">Registrar Cliente</button>
                <button class="button slide-button-ventas" onclick="RegistrarVenta()">Registrar Venta</button>
                <button class="button slide-button-ventas" onclick="RealizarPedido()">Realizar Pedido</button>
                <button class="button slide-button-ventas" onclick="ActualizarCaja()">Actualizar Caja</button>
                <button class="button slide-button-ventas" onclick="verCatalogo()">Ver Catalogo</button>
                <button class="button slide-button-ventas" onclick="VerCaja()">Ver Caja</button>
                <button class="button slide-button-ventas" onclick="VerProductos()">Ver Productos</button>
                <button class="button slide-button-ventas-admin" onclick="SolicitarProductos()">Solicitar Productos</button>
                <button class="button slide-button-admin" onclick="CortedeCaja()">Corte de Caja</button>
                <button class="button slide-button-admin" onclick="ReportedelDía()">Reporte del Día</button>
                <button class="button slide-button-admin full-width" onclick="ReporteMensual()">Reporte Mensual</button>
                <button class="button slide-button-ventas" onclick="RegistrarProduccion()">Registrar producción</button>
                <button class="button slide-button-ventas" onclick="ProduccionDeHoy()">Producción de hoy</button>
                <!--<button class="button slide-button-ventas" onclick="window.location.href='registrar-produccion.html'">Registrar producción</button>-->
                <!--<button class="button slide-button-ventas" onclick="window.location.href='produccion-hoy.html'">Producción de hoy</button>-->
                </div>
            </div>
            <!-- Limpieza -->
            <div class="menu-item doble-opcion">
                <div class="ir-item-wrapper">
                    <button class="toggle-submenu" onclick="toggleSubmenu(this)">▸</button>
                    <img src="https://i.imgur.com/75aCNcB.png" alt="limpieza Icon" class="icono-sidebar">
                    <button class="button ir-item"
                        onclick="window.location.href='limpieza.jinja2'">Limpieza</button>
                </div>
                <div class="submenu">
                <button class="button slide-button-limpieza" onclick="verCalendario()">Calendario</button>
                <button class="button slide-button-limpieza" onclick="limpiezaDelDia()">Limpieza del Dia</button>
                <button class="button slide-button-admin" onclick="registrarLimpieza()">Registrar Limpieza</button>
                <button class="button slide-button-admin" onclick="actualizarFechaDeLimpieza()">Actualizar fecha de limpieza</button>
                </div>
            </div>
            <!-- Reportes -->
            <div class="menu-item doble-opcion">
                <div class="ir-item-wrapper">
                    <button class="toggle-submenu" onclick="toggleSubmenu(this)">▸</button>
                    <img src="https://i.imgur.com/8b2Igfw.png" alt="reportes Icon" class="icono-sidebar">
                    <button class="button ir-item"
                        onclick="window.location.href='reporte.html'">Reporte</button>
                </div>
                <div class="submenu">
                </div>
            </div>

            <!-- Gerente -->
            <div class="menu-item doble-opcion">
                <div class="ir-item-wrapper">
                    <button class="toggle-submenu" onclick="toggleSubmenu(this)">▸</button>
                    <img src="https://i.imgur.com/AU09egm.png" alt="gerente Icon" class="icono-sidebar">
                    <button class="button ir-item"
                        onclick="window.location.href='gerente.html'">Gerente</button>
                </div>
                <div class="submenu">
                </div>
            </div>
            <!-- Regresar/Login -->
            <div class="menu-item">
                <img src="https://i.imgur.com/ft5fWsY.png" alt="Regresar Icon" class="icono-sidebar">
                <button class="button return-login" onclick="Salir()">Salir</button>
            </div>
        </div>
    </div>
    <!-- SLIDEBAR Y SUBMENUS FIN-->

    <!-- Contenido principal -->
    <div class="container">
        <h1>Limpieza</h1>
        <button class="button" onclick="verCalendario()">Calendario</button>
        <button class="button" onclick="limpiezaDelDia()">Limpieza del Dia</button>
        <button class="button admin-only" onclick="registrarLimpieza()">Registrar Limpieza del dia</button>
        <button class="button admin-only" onclick="actualizarFechaDeLimpieza()">Actualizar fecha de limpieza</button>
    </div>
    <script src="../JS/sidebar.js"></script>   
    <script src="../JS/limpieza.js"></script>
</body>
</html>