{% extends "base.jinja2" %}

{% block title %}Producción de Hoy{% endblock %}

{% block head_links %}
    <link rel="stylesheet" href="{{ url_for('serve_css', filename='prodHoy.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Producción de Hoy</h1>
        <table id="tablaProduccion">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Realizado</th>
                </tr>
            </thead>
            <tbody>
                </tbody>
        </table>
        <button class="button" data-url="/produccion">Volver</button>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{{ url_for('serve_js', filename='prodHoy.js') }}"></script>
{% endblock %}