{% extends "base.jinja2" %}
{% block title %}Reparto{% endblock %}
{% block content %}
    <div class="container">
        <h1>Reparto</h1>
        <button class="button" data-url="/CalendarioReparto">Calendario</button>
        <button class="button" data-url="/Pedidos">Pedidos</button>
        <button class="button" data-url="/repDia">Repartos del dia</button>
        <button class="button admin-only" data-url="/gestionLogistica">Gestion Logistica</button>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{{ url_for('serve_js', filename='reparto.js') }}"></script>
{% endblock %}